/**
 * Trenchbroom Qt Dynamic Stylesheet
 * Modified Fusion Theme
 */

/* ---------------------------------------------------------------------------------- */
/* --- LIST/TABLE ------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QTableView {
    border: none;
}

QWidget::item:selected:active {
    border-radius: #BORDER_RADIUS;
    border-width: #BORDER_SIZE;
    border-style: solid;
    background-color: #HIGHLIGHT_COLOR;
    border-color: #HIGHLIGHT_COLOR;
    color: #HIGHLIGHTED_TEXT_COLOR;
}

QWidget::item:selected:!active {
    border-radius: #BORDER_RADIUS;
    border-width: #BORDER_SIZE;
    border-style: solid;
    background-color: #DARK_HIGHLIGHT_COLOR;
    border-color: #DARK_HIGHLIGHT_COLOR;
    color: #HIGHLIGHTED_TEXT_COLOR;
}

QWidget#ImageListBoxItemRenderer_m_titleLabel {
    color: #HIGHLIGHTED_TEXT_COLOR;
    border: none;
}

QWidget#ImageListBoxItemRenderer_m_subtitleLabel {
    color: #TEXT_COLOR;
    font-size: UI_SMALL_FONT_SIZE;
    border: none;
}


/* ---------------------------------------------------------------------------------- */
/* --- SPLITTER --------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QSplitter {
    min-width: 4px;
    min-height: 4px;
    background-color: #DARK_COLOR;
}

/* ---------------------------------------------------------------------------------- */
/* --- CHECKBOX --------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QCheckBox#entityDefinition_checkboxWidget {
    margin-left: 16px;
}

QCheckBox#entityDefinition_groupCheckboxWidget {
    margin-left: 0px;
    color: #HIGHLIGHTED_TEXT_COLOR;
}

/* ---------------------------------------------------------------------------------- */
/* --- TEXT-EDIT -------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QTextEdit {
    border: none;
    background-color: #SHADOW_COLOR;
    padding: 2px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 2px;
}

/* ---------------------------------------------------------------------------------- */
/* --- COMBO-BOX -------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QComboBox {
    padding: 2px 4px 3px 4px;
    min-height: 18px;
    min-width: 40px;
    background-color: #MID_COLOR;
    border: 1px solid #MIDLIGHT_COLOR;
    border-radius: #BORDER_RADIUS;
}

QComboBox::item:selected:active {
    background-color:  #HIGHLIGHT_COLOR;
}

QComboBox::item:selected {
    border-radius: #BORDER_RADIUS;
    border-width: #BORDER_SIZE;
    background-color: #HIGHLIGHT_COLOR;
    border-color:  #HIGHLIGHT_COLOR;
    color: #HIGHLIGHTED_TEXT_COLOR;
}

QComboBox#TextureBrowser_smallComboBox {
    padding: 3px 3px 3px 2px;
    min-width: 60px;
    min-height: 18px;
}

QAbstractSpinBox {
    border: 1px solid #MIDLIGHT_COLOR;
    border-radius: 2px;
}

/* ---------------------------------------------------------------------------------- */
/* --- EDIT FIELD ------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QCheckBox:selected {
    color: #HIGHLIGHT_COLOR;
}

QLineEdit {
    padding: 2px 0px 3px 2px;
    min-height: 18px;
    border: 1px solid #MIDLIGHT_COLOR;
    border-radius: 4px;
}

QWidget#MapPropertiesEditor {
    font-size: #UI_MID_FONT_SIZE;
}

/* ---------------------------------------------------------------------------------- */
/* --- TOOLBAR ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/*QWidget#TitleBar {*/
/*    font-size: #UI_MID_FONT_SIZE;*/
/*}*/

/*QWidget#CollapsibleTitleBar {*/
/*    font-size: #UI_MID_FONT_SIZE;*/
/*}*/


QWidget#ToolBar_GridChoice {
    height: #TOOLBAR_ICON_SIZE;
}

QMainWindow::separator {
    background-color: #455364;
    border: 0px solid #19232D;
    spacing: 0px;
    padding: 2px;
}

QToolBar {
    border: none;
    border-bottom: 1px solid #MIDLIGHT_COLOR;
    margin: 2px 5px 0px 5px;
    padding: 1px;
}

QToolBar::separator {
    width: 35px;
    height: #TOOLBAR_ICON_SIZE;
}

QToolBar#ToolBar_PreferenceDialog {
    text-align: center;
}


QToolButton#ToolButton_PreferenceDialog {
    margin: 6px;
    padding: 0px;
    margin-bottom: 8px;
}

/* ---------------------------------------------------------------------------------- */
/* --- TOOLTIP ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QToolTip {
    border: 1px outset #BUTTON_COLOR;
    color: #BUTTON_TEXT_COLOR;
    font-size: #UI_SMALL_FONT_SIZE;
    padding: #NARROW_V_MARGIN;
    border-radius: 4px;
}

/* ---------------------------------------------------------------------------------- */
/* --- MENU ------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QMenu {
    background-color: #BASE_COLOR;
    border-radius: 4px;
    border: 4px solid #HIGHLIGHT_COLOR;
    color: #BUTTON_TEXT_COLOR;
    margin: 12px 1px 12px 1px;
    padding: MEDIUM_V_MARGIN;
    font-size: #UI_FONT_SIZE;
}

QMenu::item {
    padding: 4px 15px 4px 15px;
    margin: #MEDIUM_V_MARGIN;
    border: 1px solid transparent;
    min-width: 100px;
    min-height: 16px;
}

QMenu::item:selected {
    font-style: bold;
    border-radius: 4px;
    border: 1px solid #HIGHLIGHT_COLOR;
    color: #HIGHLIGHTED_TEXT_COLOR;
    background: #HIGHLIGHT_COLOR;
}

QMenu::item:disabled {
    color: #DISABLED_TEXT_COLOR;
    border: 1px solid transparent;
}

QMenu::separator {
    min-width: 80px;
    min-height: 24px;
    height: 2px;
    margin: 3px 20px 3px 20px;
    background: #MIDLIGHT_COLOR;
}

/* ---------------------------------------------------------------------------------- */
/* --- STATUSBAR--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QStatusBar {
    background: #DARK_HIGHLIGHT_COLOR;
    min-height: 25px;
}

/* --- INSPECTOR SMALL WIDGETS------------------------------------------------------- */

QPushButton#TextureBrowser_smallPushButton {
    padding: 3px #MEDIUM_V_MARGIN 3px #MEDIUM_V_MARGIN;
    min-width: 40px;
    min-height: 18px;
}

QPushButton#LaunchGameEngineDialog_smallPushButton {
    padding: 3px #MEDIUM_V_MARGIN 3px #MEDIUM_V_MARGIN;
    min-width: 40px;
    min-height: 18px;
}

QPushButton#ViewEditor_smallPushButton {
    padding: 3px #MEDIUM_V_MARGIN 3px #MEDIUM_V_MARGIN;
    min-width: 65px;
    min-height: 18px;
}

QPushButton#PreferencesPreferencePane_smallPushButton {
    padding: 3px #MEDIUM_V_MARGIN 3px #MEDIUM_V_MARGIN;
    min-height: 18px;
}

QPushButton#PreferenceEditDialog_toolButton {
    padding: 3px #MEDIUM_V_MARGIN 3px #MEDIUM_V_MARGIN;
    min-width: 50px;
    min-height: 18px;
}

/* ---------------------------------------------------------------------------------- */
/* --- TAB-WIDGET ------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QTabWidget::pane { /* The tab widget frame */
    /*position: absolute;*/
    border: 1px solid #MIDLIGHT_COLOR;
}

QTabWidget::tab-bar {
    alignment: left;
}

QTabWidget#InfoPanelTabWidget::tab-bar {
    alignment: left;
}

QTabBar::tab {
    background-color: #WINDOW_COLOR;
    color: #TEXT_COLOR;
    border: 2px solid #WINDOW_COLOR;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    min-height: 20px;
    min-width: 60px;
    padding: 2px;
    margin-right: 1px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 8px;

    font-size: #UI_MID_FONT_SIZE;
}

QTabBar::tab:hover {
    color: #HIGHLIGHTED_TEXT_COLOR;
}

QTabBar::tab:selected {
    border-top: 1px solid #LIGHT_COLOR;
    border-left: 1px solid #LIGHT_COLOR;
    border-right: 1px solid #LIGHT_COLOR;
    border-bottom: 2px solid #HIGHLIGHT_COLOR;


    background-color: #MIDLIGHT_COLOR;
    color: #HIGHLIGHTED_TEXT_COLOR;
}


QTabBar#InfoPanelTabWidget::tab {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    min-height: 14px;
    min-width: 50px;
    padding: 2px;
    margin-right: 1px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: #UI_SMALL_FONT_SIZE;
}

QTabBar#InfoPanelTabWidget::tab:selected {
    border-bottom: 1px solid #HIGHLIGHT_COLOR;
}

/* ---------------------------------------------------------------------------------- */
/* --- SCROLL BAR ------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QScrollBar:horizontal {
    height: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 2px;
    background-color: transparent;
}

QScrollBar:vertical {
    background-color: transparent;
    width: 10px;
    margin-right: 2px;
    border: none;
    border-radius: 4px;
}

QScrollBar::handle:horizontal {
    background-color: #MIDLIGHT_COLOR;
    border: 2px solid #MIDLIGHT_COLOR;
    border-radius: 4px;
    min-width: 35px;
}

QScrollBar::handle:vertical {
    background-color: #MIDLIGHT_COLOR;
    border: 2px solid #MIDLIGHT_COLOR;
    min-height: 35px;
    border-radius: 4px;
    padding-left: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 0px 0px 0px;
    height: 2px;
    width: 2px;
    max-width: 2px;
    max-height: 2px;
}

QScrollBar::add-line:vertical {
    margin: 0px 0px 0px 0px;
    height: 2px;
    width: 2px;
    max-width: 2px;
    max-height: 2px;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 0px 0px 0px;
    height: 2px;
    width: 2px;
    max-width: 2px;
    max-height: 2px;
}

QScrollBar::sub-line:vertical {
    margin: 0px 0px 0px 0px;
    height: 2px;
    width: 2px;
    max-width: 2px;
    max-height: 2px;
}

/* ---------------------------------------------------------------------------------- */
/* --- TOOLBUTTON ------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QToolButton {
    color: #TEXT_COLOR;
    border-radius: 8px;
    padding: 3px 2px 2px 2px;
    outline: none;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}

QToolButton:disabled {
    color: #MID_COLOR;
    border-radius: 2px;
    padding: 2px;
}

QToolButton:checked {
    background-color: #MIDLIGHT_COLOR;
    border-radius: 4px;
    padding: 3px 2px 2px 3px;
    outline: none;
}

QToolButton:hover {
    color: #TEXT_COLOR;
}

QToolButton:pressed {
    background-color: #MID_COLOR;
}

QToolButton:selected {
    background: #MIDLIGHT_COLOR;
    color: #TEXT_COLOR;
}

QToolButton[popupMode="0"] {
    padding-right: 2px;
}

QToolButton[popupMode="1"] {
    padding-right: 20px;
}

QToolButton[popupMode="1"]::menu-button {
    border: none;
}

QToolButton[popupMode="2"] {
    padding-right: 2px;
}

QToolButton::menu-button {
    padding: 2px;
    border-radius: 4px;
    width: 12px;
    border: none;
    outline: none;
}

QToolButton::menu-button:hover {
    border: 1px solid #MIDLIGHT_COLOR;
}

QToolButton::menu-button:checked:hover {
    border: 1px solid #MIDLIGHT_COLOR;
}

QToolButton#toolButton_borderless {
    padding: 0px;
    margin: 0px;
    border: none;
}

QToolButton#toolButton_borderless:checked {
    background-color: none;
    border: none;
}

QToolButton#toolButton_borderless::menu-indicator {
    image: none;
}

/* ---------------------------------------------------------------------------------- */
/* --- PUSHBUTTON ------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

QPushButton {
    background-color: #BUTTON_COLOR;
    color: #BUTTON_TEXT_COLOR;
    border-radius: 2px;
    border: 1px solid #LIGHT_COLOR;
    outline: none;
    min-width: 60px;
    min-height: #UI_FONT_SIZE;
    padding: 3px 8px 3px 8px;
    margin: 1px;
    outline-color: #00b0ff;
    outline: 3;
}

QPushButton:disabled {
    background-color: #DARK_COLOR;
    border: 1px solid #MIDLIGHT_COLOR;
    color: #DISABLED_TEXT_COLOR;
}

QPushButton:checked {
    background-color: #HIGHLIGHT_COLOR;
}

QPushButton:checked:disabled {
    background-color: #DARK_HIGHLIGHT_COLOR;
    color: #DISABLED_TEXT_COLOR;
}

QPushButton:checked:selected {
    background: #HIGHLIGHT_COLOR;
}

QPushButton:pressed {
    background-color: #DARK_COLOR;
    border: 1px solid #BASE_COLOR;
}

QPushButton:selected {
    border: 2px solid #HIGHLIGHT_COLOR;
    color: #TEXT_COLOR;
}

